.details{

    margin-top: 50px;
    padding-left: 250px;
    padding-right: 280px;
    

    
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    .name{
       margin-left: 50px;
       font-size: 25px;
       margin-bottom: 30px; 
       
    }

}